include jquery_widgets/static/js/*.js
include jquery_widgets/static/css/jquery-ui-themes/*/*.css
include jquery_widgets/static/css/jquery-ui-themes/*/images/*
include jquery_widgets/templates/jquery_widgets/*.html
